{% extends 'base.html.twig' %}

{% block body %}
    <center>
        <h1>Liste des activités</h1>

        <table id="example" class="table table-striped table-bordered" style="width:80% ">
            <tbody>
            <tr>


                <th> </th>
                <th>L'activité</th>
                <th>Date de l'activité</th>

            </tr>

            {% for act in activite %}
                <tr>

                    <td><img src="{{asset('images/'~act.photo)}}" width="200" height="121"></td>
                    <td>{{ act.typeact }}</td>
                    <td>{{ act.Date|date('Y-m-d ') }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

        <li>
            <a href="{{ path('activite_index') }}">Back to the list</a>
        </li>

    </center>
{% endblock %}
