{% extends 'back.html.twig' %}
{% block nav %}
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <h1 class="card-title align-content-center">Ajouter un categorie</h1>

        </div></div>

{% endblock nav %}

{% block body %}
<center>
    <div class="col-md-6 grid-margin stretch-card" bis_skin_checked="1">
        <div class="card" bis_skin_checked="1">
            <div class="card-body" bis_skin_checked="1">
                <h4 class="card-title">Ajout d'une catégorie</h4>

                <form class="forms-sample" method="post">
                    <div class="form-group" bis_skin_checked="1">
                        <label for="exampleInputName1">Libelle</label>
                        {{ form_widget(form.libelle,{'attr': {'class': 'form-control'}})}}                    </div>


                    <button  type="submit" value="créer" class="btn btn-success mr-2"> Créer</button>

                    <ul>
                        <li>
                            <a href="{{ path('categorie_index') }}">Retour à la liste</a>
                        </li>
                    </ul>

                </form>
            </div>
        </div>
    </div>
</center>
{% endblock %}